.dropbtn {
    background-color: whitesmoke;
    border: 0px;
    padding: 6px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
}

.dropbtn:hover, .dropbtn:focus {
    outline: none;
}

.dropbtn:hover{
    background-color: rgba(122, 184, 243, 0.2);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -215px;
    top: 60px;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: flex;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    line-height: 30px;
    user-select: none;
    font-weight: 600;
}