    h2 {margin-bottom: 50px;}

    h4 {white-space: nowrap; font-weight: 600; font-size: 20px; margin: 0px; }

    #filter {
        width: 100%; margin-right: 10px; height: 40px;
    }

    .field_input {
        border-radius: 5px;
        border-bottom: 2px solid #e0e0e0;
    }
    
    .field_input:hover {
        border-bottom: 2px solid rgb(80, 125, 252); 
    }

    .field_input--icon-search {
        background-image: url('../../assets/icons/search.svg');
    }

    .field_input--icon {
        padding-left: 34px;
        background-size: 20px;
        background-position: 8px;
        background-repeat: no-repeat;
    }

    .top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgba(211, 211, 211, 0.3);
        padding: 0 10px 10px 10px;
    }

    .top-bar_chat-name {
        font-size: 22px;
        text-align: left;
        margin-right: auto;
    }

    .top-bar_actions {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    .chat--icon {
        content: url('../../assets/icons/chat.svg');
        border: 2px solid gray; border-radius: 50%;
        width: 50px; height: 50px;
        margin-right: 10px;
    }

    .chat_bot-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        padding-top: 10px;
        border-top: 2px solid rgba(211, 211, 211, 0.3);
    }

    .chat_messages, .chat-list {
        height: 100%;
        overflow-y: auto;
    }

    .chat_messages {
        display: flex;
        padding: 8px 100px 8px 100px;
    }

    .bot-bar_actions {
        display: flex;
        gap: 4px;
        padding: 8px;
    }

    .message, .message_from_me  {
        max-width: 50%;
        height: auto;
        padding: 12px;
        margin-top: 6px;
        word-wrap: break-word;
        display: inline-block;
    }

    .message  {
        background-color: rgba(241, 243, 249, 0.8);
        border-radius: 0 15px 15px 15px;
    }

    .message_from_me {
        float: right;
        background-color: rgba(122, 184, 243, 0.2);
        border-radius: 15px 15px 0 15px;
    }

    .message--icon-done {
        content: url(../../assets/icons/done.svg);
        margin-left: auto;
    }

    .message_top {
        margin-top: 20px;
        display: flex;
        width: 100%;
        gap: 8px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .message_name-user {
        color: #2f80ed;
    }

    .message_date {
        font-size: 12px;
        color: rgb(80, 125, 252)
    }

    .icon-btn, .icon-btn-red {
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        align-items: center;
        border-radius: 4px;
        display: flex;
    }

    .icon-btn-red {
        color: #EB5757;
        margin-left: 16px;
        padding-left: 6px;
    }
    
    .icon-btn:hover {
        border: 1px solid #2F80ED;
    }

    .icon-btn-red:hover {
        border: 1px solid #EB5757;
    }

    .chat_area {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px;
    }

    .chats {
        max-width: 400px; 
        min-width: 400px;
        height: 100%; 
        background-color: rgba(241, 243, 249, 0.7);
        border-right: 2px solid rgba(211, 211, 211, 0.3); 
        padding: 8px;
    }

    .chats-header {
        border-bottom: 2px solid rgba(211, 211, 211, 0.3);
        padding-left: 10px; 
    }
    
    .chat-item {
        display: flex;
        border-bottom: 2px solid rgba(211, 211, 211, 0.3);
        padding: 8px 10px;
        cursor: pointer;
    }

    ::-webkit-input-placeholder {font-size: 14px}

    .profile-link {
        cursor: pointer; 
        align-items: center;
        float: right; 
        display: flex;
        line-height: 20px; 
        font-weight: 600; 
        color: rgb(80, 125, 252);
        margin-bottom: 20px;
    }

    #msg-info {
        min-width: 75%; height: 100%; display: table;
    }

    #msg-info div {
        display: table-cell; vertical-align: middle; text-align: center; color: #aaa; font-weight: 600;
    }

